<template>
  <view class="container">
    <view class="inputs" :style="{marginTop:15, marginBottom:15}">
      <text-input class="digitsScreen" v-model="digits" :style="{fontFamily: 'Digital', fontSize:24, textAlign:'right', paddingRight:10}"/>
      <touchable-opacity class="percentInput">
        <text  :style="{fontFamily: 'Digital', fontSize:24}">25 %</text>
      </touchable-opacity>
    </view>
    <view id="digitPad">
      <view class="list-digits">
          <digit-touch digit="7" @add="(value) => {digits += value}" />
          <digit-touch digit="8" @add="(value) => {digits += value}" />
          <digit-touch digit="9" @add="(value) => {digits += value}" />
          <function-touch icon="arrow-back" color='linear-gradient(180deg, #B0DFE3 0%, rgba(85, 213, 224, 0.5) 100%)' @action="erase"/>
      </view>
      <view class="list-digits">
          <digit-touch digit="4" @add="(value) => {digits += value}" />
          <digit-touch digit="5" @add="(value) => {digits += value}" />
          <digit-touch digit="6" @add="(value) => {digits += value}" />
          <function-touch libelle="C" color='linear-gradient(180deg, #EFC1A7 0%, rgba(242, 102, 25, 0.5) 100%);' @action="reset"/>
      </view>
      <view class="list-digits">
          <digit-touch digit="1" @add="(value) => {digits += value}" />
          <digit-touch digit="2" @add="(value) => {digits += value}" />
          <digit-touch digit="3" @add="(value) => {digits += value}" />
      </view>
      <view class="list-digits">
          <digit-touch digit="+/-" @add="(value) => {digits += value}" />
          <digit-touch digit="0" @add="(value) => {digits += value}" />
          <digit-touch digit="," @add="(value) => {digits += value}" />
      </view>
    </view>
  </view>
</template>

<script>
  import DigitTouch from "./components/DigitTouch.vue";
  import FunctionTouch from "./components/FunctionTouch.vue";
  import * as Font from 'expo-font';
  import { LinearGradient } from 'expo-linear-gradient';
  
  export default{
      components:{
        DigitTouch,
        FunctionTouch,
      },

      data: function(){
        return{
          digits: '',
          fontsLoaded: false,
        };
      },

      mounted(){
        this.loadFonts();
      },

      methods: {
        loadFonts() {
          Font.loadAsync({
            Electrolize: require('./assets/fonts/Electrolize/Electrolize-Regular.ttf'),
            Digital: require('./assets/fonts/Digital/ds-digi.ttf')
          });
        },
        erase(){
          this.digits = this.digits.slice(0,-1);
        },
        reset(){
          this.digits = '';
        }
      }
  }
</script>

<style>
  .container {
    background-color: #2F4558;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .inputs{
    flex-direction: row;
    align-items: center;
  }

  .list-digits{
    flex-direction: row;
  }

  .digitsScreen{
    width: 180px;
    height: 50px;
    background-color: #DEE7EF;
    border-radius: 5px;
  }

  .percentInput{
    width: 100px;
    height: 100px;
    background-color: linear-gradient(180deg, #F3DCB0 0%, rgba(246, 177, 45, 0.75) 100%);
    border-radius: 100;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>
