<template>
    <touchable-opacity class="button" :on-press="addDigit">
        <text :style="{fontFamily: 'Electrolize'}" class="textDigit">{{digit}}</text>
    </touchable-opacity>
</template>

<script>
    export default {
        props:{
            digit: String
        },

        methods:{
            addDigit(){
                this.$emit('add', this.digit);
            }
        }
        
    }
</script>

<style>
    .button{
        width: 60px;
        height: 50px;
        background-color: linear-gradient(180deg, #D0D0D0 0%, rgba(160, 160, 160, 0.5) 100%);
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin: 8px 8px 8px 8px;
    }
    .textDigit{
        color: #DEE7EF;
        font-size: 24px;
    }
</style>