<template>
    <touchable-opacity class="button" :on-press="action" :style="{backgroundColor: color}">
        <text v-if="libelle != null" :style="{fontFamily: 'Electrolize'}" class="textDigit">{{libelle}}</text>
        <ionicons v-if="icon != null" :name="icon" class="textDigit" />
    </touchable-opacity>
</template>

<script>
    import * as Font from 'expo-font';
    import { Ionicons } from "@expo/vector-icons";
    
    export default {
        components:{
            Ionicons,
        },

        props:{
            libelle: {
                type: String,
                required: false,
                default: null
            },
            icon: {
                type: String,
                required: false,
                default: null
            },
            color: String
        },

        data: function(){
            return {
                fontsLoaded: false,
            };
        },

        mounted() {
            this.loadFonts();
        },

        methods:{
             loadFonts() {
                Font.loadAsync({
                    Electrolize: require('./../assets/fonts/Electrolize/Electrolize-Regular.ttf'),
                });
            },

            action(){
                this.$emit('action');
            }
        }
        
    }
</script>

<style>
    .button{
        width: 30px;
        height: 50px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin: 8px 8px 8px 8px;
    }
    .textDigit{
        color: #DEE7EF;
        font-size: 24px;
    }
</style>